h1 {
    color: rgb(0, 255, 166); /* Cambia el color del texto a azul */
    font-family: Arial, sans-serif; /* Cambia la familia de fuentes */
    text-align: center; /* Centra el texto */
    /* Puedes agregar más estilos según sea necesario */
}

body {
    width: 1440px;
    height: 763px;
    background: linear-gradient(180deg, #174245 29.5%, #1E1E1E 100%);

}